/*.bam
/*.bai
/*.bed
*~
/*.vcf
/*.txt
/*.csh
/.*
/*.pdf
/*.eval
*.ipr
*.iws
*.iml
*.pyc
.DS_Store
queueScatterGather
/foo*
/bar*
integrationtests/
public/testdata/onTheFlyOutputTest.vcf
build/
dist/
dump/
lib/
out/
/atlassian-ide-plugin.xml
maven-metadata-local.xml
dependency-reduced-pom.xml
public/external-example/target/*
protected/gatk-package-distribution/target/*
protected/gatk-queue-extensions-distribution/target/*
protected/gatk-queue-package-distribution/target/*
public/gatk-queue-extensions-public/target/*
public/gatk-tools-public/target/*
public/gatk-queue/target/*
protected/gatk-tools-protected/target/*
public/gatk-engine/target/*
public/gatk-queue-extensions-generator/target/*
public/gatk-utils/target/*
target/*